.container-login {
    text-align: center;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: calc(80vw - 20px);
    max-width: auto;
    height: 70vh;
    padding: 40px;
  }

  .container-cadastro {
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: calc(80vw - 20px);
    max-width: auto;
    height: 70vh;
    padding: 40px;
  }

  h1 {
    margin-bottom: 15px;
  }

  input {

  }

/* Estilos dos botões */
button.info-button,
button[type="submit"],
button[type="button"] {
  background-color: #00e7f9;
  border: none;
  border-radius: 4px;
  color: #0f0f0f;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: 1,5;
}

button.info-button:hover,
button[type="submit"]:hover,
button[type="button"]:hover {
  color: #ccc;
  background-color: blue;
}

p {
    color: white;
}